<h2><strong>Your Transaction History</strong></h2>

{{#if transactions.length}}
  <ul class='transactions-list'>
    {{#each transactions}}
      <li class='transaction-item'>
        <span class='transaction-name'><strong>Name:</strong>
          {{this.name}}</span>
        <span class='transaction-category'>{{this.category.name}}</span>
        <span class='transaction-description'>{{this.description}}</span>
        <span class='transaction-amount'>${{this.amount}}</span>
        <span class='transaction-date'>{{this.date}}</span>
        <button class='btn btn-secondary' id='btn-edit'>Edit</button>
        <button
          class='btn btn-danger'
          id='btn-delete'
          data-transaction-id='{{this.id}}'
        >Delete</button>
        <!-- For the date we might need a helper to format it -->
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No Transactions found.</p>
{{/if}}

<a href='/' class='back-button'>Back to Home!</a>
<script src='/js/deleteTransaction.js'></script>